@tailwind base;
@tailwind components;
@tailwind utilities;

/* markdown styling */
.markdown {
    @apply space-y-2;
}
.markdown.preview {
    @apply line-clamp-2 mb-3;
}
.markdown h1{
    @apply text-xl font-semibold text-gray-600 mb-2;
}
.markdown h2{
    @apply text-lg font-semibold text-gray-600 mb-2;
}
.markdown h3{
    @apply mb-2;
}
.markdown p{
    @apply text-sm text-gray-600 leading-normal mb-3 last:mb-0;
}
/* a {
    @apply text-blue-500 underline hover:text-blue-600 duration-150 transition-all;
} */

/* shiki styling */

/* hide code highlighting in preview card of index page */
.markdown.preview .shiki {
    @apply hidden;
}
.shiki {
    @apply p-3 rounded-lg;
}
code {
    @apply whitespace-pre-wrap text-sm;
}


/* reply posts styling */
.posts-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 3px;
    height: 98%;
    background: #ccd1d3;
}
.reply-post::before {
    content: "";
    position: relative;
    top: 60px;
    width: 20px;
    height: 3px;
    left: -25px;
    background: #ccd1d3;
}
